<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <link rel="stylesheet" type="text/css" href="../dist/css/bootstrap.css" th:href="@{/dist/css/bootstrap.css}" />
    <link rel="stylesheet" type="text/css" href="/cover.css" th:href="@{/cover.css}"  />

</head>

<body>

<div class="site-wrapper">
    <div class="site-wrapper-inner">
        <div class="cover-container">
            <form class="form-signin" role="form" th:action="@{/login}" method="post">
                <p th:if="${loginError}" class="error">Wrong user or password</p>
                <h2 class="form-signin-heading">Please sign in</h2>
                <input type="text" id="username" name="username" class="form-control" placeholder="User name"
                       required="" autofocus=""/>
                <input id="password" name="password" type="password" class="form-control" placeholder="Password"
                       required=""/>
                <button class="btn btn-lg btn-default btn-block" type="submit">Sign in</button>
            </form>
            <p><a href="/index" th:href="@{/}">Back to home page</a></p>
            <p><a href="/uaa/registration" th:href="@{/registration}">Registration</a></p>
        </div>
    </div>
</div>

</body>
</html>
